<div id="webmaker-collector" ng-app="wmCollector" ng-controller="collectorController">
  <header class="page-header container">
    <h2 class="light pull-left">Watson / Mulder</h2>
  </header>

  <div class="container">
    <section>
      <h3>Colours</h3>

      <tabswitcher control="swatches" class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default">Hex</button>
        <button type="button" class="btn btn-default">RGB</button>
      </tabswitcher>

      <tabbed group="swatches" class="swatches">
        <div>
          <div class="col-xs-6 col-sm-4" style="background-color: #{{ colour.hex }};" ng-repeat="colour in scrapeData.colours">
            <div class="color-data">
              <strong>#</strong>{{ colour.hex }}
            </div>
          </div>
        </div>

        <div>
          <div class="col-xs-6 col-sm-4" style="background-color: #{{ colour.hex }};" ng-repeat="colour in scrapeData.colours">
            <div class="color-data">
              <p><strong>R </strong>{{ colour.r }}</p>
              <p><strong>G </strong>{{ colour.g }}</p>
              <p><strong>B </strong>{{ colour.b }}</p>
            </div>
          </div>
        </div>
      </tabbed>
    </section>

    <section>
      <h3>Font Families</h3>

      <div ng-repeat="font in scrapeData.fontFamilies"><i class="fa fa-font"></i> {{ font }}</div>
    </section>

    <section>
      <h3>Images</h3>

      <div masonry class="row image-collection">
        <div ng-repeat="image in scrapeData.media.images" class="col-xs-3">
          <img verify-src="{{image.src}}">
        </div>
      </div>
    </section>

    <section>
      <h3>Audio</h3>
      <div>
        <div ng-repeat="audio in scrapeData.media.audio">
          <audio  ng-if="audio.format === 'inline'" safe-src="{{audio.src[0].src}}" controls></audio>
      </div>
    </section>

    <section>
      <h3>Video</h3>
      <div>
        <div ng-repeat="video in scrapeData.media.video">
          <video  ng-if="video.format === 'inline'" safe-src="{{video.src[0].src}}" poster="{{video.poster}}" controls></video>
        </div>
      </div>
    </section>

    <footer>
      <p>Brought to you by <a href="http://webmaker.org" target="_blank">Webmaker</a></p>
    </footer>


  </div>

</div>
