<!DOCTYPE html>
<html>
<head>
  <title>Collector</title>
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="bower_components/makerstrap/makerstrap.complete.min.css">
  <link rel="stylesheet/less" type="text/css" href="collector.less">
</head>
<body>

  <div id="webmaker-collector" ng-app="wmCollector" ng-controller="collectorController">
    <header class="page-header container">
      <button class="close pull-right">
        <i class="fa fa-times-circle"></i>
      </button>

      <h2 class="light pull-left">Collector</h2>
    </header>

    <div class="container">
      <section>
        <div class="row">
          <div class="col-xs-6">
            <h3>Colours</h3>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right">
              <button ng-click="swatchGroup = 'hex'" type="button" class="btn btn-default">Hex</button>
              <button ng-click="swatchGroup = 'rgb'" type="button" class="btn btn-default">RGB</button>
            </div>
          </div>
        </div>

        <div class="row swatches">
          <div class="col-xs-6 col-sm-4" style="background-color: #{{ colour.hex }};" ng-repeat="colour in scrapeData.colours">
            <div ng-show="swatchGroup === 'hex'" class="color-data"><i class="fa fa-tint"></i> <strong>#</strong>{{ colour.hex }}</div>
            <div ng-show="swatchGroup === 'rgb'" class="color-data">
              <i class="fa fa-tint"></i>&nbsp;
              <strong>R</strong>{{ colour.r }}&nbsp;
              <strong>G</strong>{{ colour.g }}&nbsp;
              <strong>B</strong>{{ colour.b }}&nbsp;
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Fonts</h3>

        <div ng-repeat="font in scrapeData.fonts"><i class="fa fa-font"></i> {{ font.name }}</div>
      </section>

      <section>
        <h3>Images</h3>

        <div class="row image-collection">
          <div ng-repeat="image in scrapeData.media.images" class="col-xs-3">
            <img src="{{image.src}}">
          </div>
        </div>
      </section>

      <section>
        <h3>Audio</h3>
        <div>
          <div ng-repeat="audio in scrapeData.media.audio"><a href="#" target="_blank"><i class="fa fa-volume-up"></i> {{ audio.src[0].url }}</a> ({{ audio.src[0].format }})</div>
        </div>
      </section>

      <section>
        <h3>Video</h3>
        <div>
          <div ng-repeat="video in scrapeData.media.video"><a href="#" target="_blank"><i class="fa fa-video-camera"></i> {{ video.src[0].url }}</a> ({{ video.src[0].format }})</div>

        </div>
      </section>


    </div>

  </div>

  <script src="bower_components/less/dist/less-1.6.1.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="collector.js"></script>
</body>
</html>
